body {
  margin: 0;
  padding: 0;
  width: 1440px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a {
  color: #000000;
  text-decoration: none;
}

.container {
  width: 1440px;
  padding: 0;
  background-color: #eee;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.main-slide {
  height: 232px;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  background-color: #eee;
}

.main-navigation a:hover {
  color:#fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-link-active {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 8px;
}

.cart {
  position: relative;
}

.cart::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: -41px;
  height: 15px;
  width: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
}

.main-list,
.services-list,
.sort-list,
.pagination-list,
.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header {
  background-color: #eee;
}

.slide-title {
  margin: 0;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.main-navigation,
.main-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-navigation {
  padding: 48px 20px 0;
}

.main-item-logo {
  padding: 0;
}

.main-navigation .main-item-logo:hover {
  color: #303030;
}

.main-navigation .main-item-logo:active {
  color: #a6a6a6;
}

.main-list {
  padding: 10px 0 0 156px;
}

.main-item {
  padding-right: 46px;
}

.cart {
  margin-left: auto;
  padding-top: 10px;
}

.main-navigation {
  display: flex;
  justify-content: flex-start;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.slider-container {
  position: relative;
  height: 422px;
}

.slide {
  position: absolute;
  display: none;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.slide-description {
  width: 516px;
  padding: 69px 19px;
}

.slide:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 90% 9px;
}

.slide:nth-child(2){
  background-image:url("../img/slide2.png");  background-repeat:no-repeat;
  background-position: 90% 0;
}

.slide:nth-child(3){
  background-image:url("../img/slide3.png");
  background-repeat:no-repeat;
  background-position: 90% 11px;
}

.slide {
  display:none;
}

.slide:nth-child(1){
  display:block;
}

.slider-input:checked::before {
  content: "";
  position: absolute;
  display: block;
  top: 100px;
  left: 300px;
  width: 4px;
  height: 4px;
  border: 2px solid #c1c1c1 ;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  z-index: 2000;
}

.slide-text {
  margin: 0;
  padding: 25px 0 41px 0;
}

.products {
  display: flex;
  align-items: center;
  padding: 0 0 0 0 ;
}

.product-unit {
  width: 33.33%;
  padding: 79px 0 0 20px;
}

.product-title {
  margin: 0;
  padding: 19px 0 16px 0;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.product-text {
  margin: 0;
  padding: 0 100px 32px 0;
}

.slide-button,
.product-order,
.contact-us-btn,
.send-form {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #fb565a;
  border-radius: 3px;
}

.slide-button {
  padding: 16px 55px;
}

.product-order {
  padding: 16px 39px;
  margin-bottom: 80px;
}

.product-unit:first-child:hover a {
  background-color: #e74246;
}

.product-unit:first-child:active a {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.product-unit:nth-child(2) a {
  background-color: #00ca74;
}

.product-unit:nth-child(2):hover a {
  background-color: #00bc6c;
}

.product-unit:nth-child(2):active a {
  background-color: #00aa62;
  color: #4dc491;
  box-shadow: inset 0 3px 0 0 #009958;
}

.product-unit:nth-child(3) a {
  background-color: #efc84a;
}

.product-unit:nth-child(3):hover a {
  background-color: #eab534;
}

.product-unit:nth-child(3):active a {
  background-color: #e5a722;
  color: #edc265;
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.about-title {
  margin: 0;
  padding: 34px 26px 34px 0px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about {
  display: flex;
  align-items: center;
  padding: 39px 20px;
  border-top: 2px solid #eeeeee;
}

.about-wrap {
  padding: 0;
}

.about-text {
  margin: 0;
  margin-right: 107px;
}

.services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}

.services-title {
  margin: 0;
  padding: 0 0 24px 21px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.services-list {
  padding-left: 24px;
}

.services-table {
  width: 382px;
  font-size: 16px;
  line-height: 18px;
}

.services-list-item {
  position: relative;
  padding: 0 0 24px 32px;
}

.services-list-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  top: 11px;
  left: -3px;
  background-color: #fb565a;
}

.table-row td {
  padding: 19px 18px 12px 0;
}

.table-title {
  margin: 0;
  padding: 0 0 32px 19px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.digits {
  font-size: 45px;
  font-weight: bold;
}

.digits sup {
  font-size: 28px;
}

.logo-clients {
  display: flex;
  align-items: center;
  min-height: 180px;
  margin-bottom: 80px;
  padding: 0 0 0 0;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.logo-image:nth-child(2){
  padding: 7px 15px 0 49px;
}

.logo-image {
  position: relative;
  display: block;
  width: 25%;
  padding: 18px 0 0 52px;
  opacity: 0.3;
}

.logo-image:hover {
  opacity: 1;
}

.logo-image:active {
  opacity: 0.1;
}

.divider::before {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 52px;
  top: 10px;
  left: 0px;
  background-color: #eee;
  opacity: 1;
}

.contact-us-btn {
  margin: 0 30px;
  padding: 16px 44px;
}

.main-title {
  margin: 0;
  padding-top: 69px;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.modal-form-title {
  margin: 0;
  padding-bottom: 38px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.map-container {
  position: relative;
}

.map {
  min-height: 417px;
  width: 1440px;
  margin: 0 auto;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
}

.contact-us {
  position: absolute;
  z-index: 100;
  width: 280px;
  height: 270px;
  top: 53px;
  left: 140px;
  padding: 20px;
  background-color: #fff;
}

.title-contact-us {
  margin: 0;
  padding: 30px 30px 23px;
}

.adress {
  margin: 0 0 15px;
  padding: 0 31px 0;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.telephone {
  margin: 0 0 34px ;
  padding-left: 30px;
}

.modal-form-unit {
  position: relative;
}

.modal-form {
  z-index: 1000;
  position: absolute;
  top: -130px;
  display: block;
  padding: 30px 100px 0;
  background-color: #fff;
  box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
}

.modal-form input,
.modal-form textarea,
.send-form {
  font-family: inherit;
  outline: none;
  border:2px solid #d7dcde;
  border-radius: 3px;
}

.modal-form input {
  max-width: 360px;
  padding: 13px 10px 13px 10px;
}

.modal-form label {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 8px;
  width: 360px;
}
.send-form {
  border:none;
  outline: none;
  padding: 16px 84px;
}

.user-data {
  display: flex;
  justify-content: space-between;
}

.user-wrap {
 display: flex;
 flex-direction: column;
}

.user-data-name {
  margin-right: 40px;
}

.user-letter {
  margin-bottom: 47px;
}

.title-contact-us,
.price-title,
.sort,
.legend-features,
.legend-grid {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.price-title {
  margin-bottom: 46px;
}

.filter {
  padding: 56px 0 0 18px;
}

.filter-form fieldset {
  padding: 0;
  border:none;
}

.range-controls {
  position: relative;
  margin-bottom: 15px;
  height: 80px;
  width: 261px;
  background-color: #eee;
  border-radius: 3px;
}

.scale {
  position: absolute;
  top: 40px;
  left: 32px ;
  height: 2px;
  width: 210px;
  background-color: #d7dcde;
}

 .bar {
  position: absolute;
  width: 143px;
  height: 2px;
  background: #00ca74;
}

.toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle-min {
  left: 19px;
}

.toggle-max {
  left: 62%;
}
.price-choice {
  width: 262px;
}

.price-choice input {
  border: none;
}

.price-choice label {
  display:  inline-block;
  margin-right: 8px;
  vertical-align: middle;
  font-family: inherit;
  text-transform: uppercase;
}

.price-choice {
  display: flex;
}

.price-max {
  margin-left: 32px;
}
.price-min {
  ;
}

.price-wrap input {
  width: 80px;
  padding: 10px 0;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: inherit;
  background-color: #eee;
}

.filter-grid-wrap input,
.features-wrap input {
  opacity: 0;
}

.filter-grid-wrap,
.features-wrap {
  position: relative;
}

.grid-radio:checked + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  top:0px;
  left:-10px;
  background-image: url(../img/radio-on.svg);
  opacity: 0.5;
}
.grid-radio + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0px;
  left:-10px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  opacity: 0.5;
}

.features-checkbox + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  top:0px;
  left:-10px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.5;
}

.features-checkbox:hover + label::before {
  opacity: 1;
}

.features-checkbox:disabled + label::before {
  opacity: 0.1;
}

.features-checkbox:disabled:checked + label::before {
  opacity: 0.1;
}

.features-checkbox:checked + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 27px;
  height: 23px;
  top:0px;
  left:-10px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  opacity: 0.5;
}
.features-checkbox:checked:hover + label::before {
  opacity: 1;
}

.btn-show {
  padding: 16px 88px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #eee;
}

.sort-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 21px 91px 130px;
}

.sort-list {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list {
  display: flex;
}

.sort {
  margin: 0;
}

.arrows-desc {
  margin-right: 12px;
}

.catalog-image-item {
  position: relative;
}

.catalog-image-item::before {
  content: "";
  display: block;
  position: absolute;
  top: -39px;
  left: 1px;
  width: 358px;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  opacity: 0.1;
}

.catalog-image-item:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: -39px;
  left: 1px;
  width: 358px;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

.catalog {
  display: flex;
}

.catalog-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pagination {
  display: flex;
}

.pagination-list {
  display: flex;

}
.pagination-item {
  margin-right: 10px;
}

.pagination-link,
.next {
  display: inline-block;
  padding: 15px 18px;
  text-align: center;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: 3px solid #eee;
  border-radius: 3px;
  background-color: #eee;
}

.next {
  padding: 15px 75px;
}

.pagination-active {
  background-color: #fff;
}

.footer-container {
  width: 1200px;
  margin: 0 auto;
}

.main-footer {
  display: flex;
  align-items: center;
  padding: 68px 0;
}

.footer-social {
  display: flex;
  width: 33.33%;
  margin: 0 10px 0 20px;
}

.visually-hidden {
  display: none;
}

.social-link {
  display: block;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  width: 77px;
  height: 77px;
}

.social-link:hover {
  display: block;
  background-color: #e74246;
  border: 1px solid #e74246;
  border-radius: 50%;
  width: 77px;
  height: 77px;
}

.footer-social li:nth-child(2) {
  margin: 0 12px;
}

.social-btn-vk {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-btn-fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-btn-inst {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.footer-text {
  width: 66.66%;
}
.footer-text-title {
  margin: 0;
  padding-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.footer-text-discount {
  margin: 0;
  padding: 0 0 0 0;
  line-height: 22px;
}
